/* START of => desktop-floating-navbar */

.floating-desktop-navbar {
  display: none;
}

/* END of => desktop-floating-navbar */

/* START of => hero-section */

.hero-section {
  background-image: url('../../media/bg-images/ferrari-racing-about-hero-bg.webp');
  background-position: center;
  text-align: center;
}

.hero-section__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(
    140deg,
    var(--color-red),
    var(--color-red),
    var(--color-white),
    var(--color-bright-orange),
    var(--color-dark-red),
    var(--color-white),
    var(--color-orange),
    var(--color-red)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section__intro {
  font-size: 1.1rem;
  font-weight: 500;
  border: 5px solid var(--color-white);
  background-color: var(--color-light-gray-transparent);
  padding: 1rem;
}

.hero-section__contact {
  font-size: 1.2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 70%;
}

.hero-section__contact strong {
  font-size: 1.1rem;
  text-decoration: underline;
}

/* END of => hero-section */

/* START of => sections general styles */

.section__title {
  color: var(--color-white);
  font-weight: 400;
}

hr {
  background-color: var(--color-dark-orange);
  border: 1px solid var(--color-dark-orange);
  width: 3rem;
  height: 0.2rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

/* END of => sections general styles */

/* START of => about-logo section */

#about-logo {
  border-bottom: 1px solid var(--color-light-gray);
}

.about-logo--wrapper .navbar-brand img {
  border: 1px solid var(--color-light-gray);
  margin-bottom: 3.5rem;
}

.about-logo--wrapper .navbar-brand img:hover {
  border-image: linear-gradient(to right, #009000, #fff, #fff, #f00) 1;
}

.about-logo--wrapper .section__title,
#past-races .section__title {
  color: var(--color-dark-blue);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.about-logo--wrapper .about-logo__about {
  width: 80%;
}

/* END of => about-logo section */

/* START of => past-races section */

#past-races .section__title {
  padding: 0 1.5rem;
  margin-top: 3rem;
}

.past-races-images--wrapper,
.past-races-link figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.past-races-images--wrapper {
  padding: 3rem;
}

.past-races-image {
  width: 100%;
  max-width: 500px;
}

.past-races-images--wrapper figure {
  position: relative;
  display: inline-block;
}

.past-races-link figcaption {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  font-weight: 300;
  color: var(--color-white);
  background-color: var(--color-orange-transparent);
  z-index: 2;
}

.figcaption-year {
  font-size: 2rem;
  font-weight: 800;
}

.past-races-link figcaption span {
  padding: 0 0.5rem;
}

/* END of => past-races section */

/* START of => footer */

.footer-content--wrapper {
  display: flex;
}

/* END of => footer */
