/* START of => activities section */

#activities {
  background-image: url('../../media/bg-images/activities-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.activities-container,
.section__title {
  color: var(--color-white);
}

.section__title {
  font-weight: 400;
}

hr {
  background-color: var(--color-dark-orange);
  border: 1px solid var(--color-dark-orange);
  width: 3rem;
  height: 0.2rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.activity--wrapper {
  background-color: var(--color-dark-gray-transparent);
  padding: 0.5rem;
  margin: 0.8rem 0;
  gap: 0.5rem;
}

.activity-icon,
.activity-name,
.activity-about {
  padding: 0.5rem 0;
  width: max-content;
}

.activity-icon {
  padding-left: 0.5rem;
  font-size: 2rem;
  min-width: 50px;
}

.activity-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-orange);
  min-width: 100px;
}

.activity-about {
  font-size: 0.9rem;
  margin-bottom: 0;
  width: auto;
}

.desktop-activities-link {
  display: none;
}

/* END of => activities section */

/* START of => upcoming-races section */

#upcoming-races {
  margin-bottom: 4rem;
  padding: 0;
}

#upcoming-races .section__title {
  color: var(--color-dark-blue);
}

.upcoming-races-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 3rem 1.5rem;
  margin: 1.5rem 0;
}

.race-card--wrapper,
.race-card__content--wrapper {
  display: flex;
}

.race-card--wrapper {
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  max-width: 500px;
  padding: 0.5rem 0;
}

.race-card__image {
  max-width: 130px;
  height: 100%;
}

.race-card__content--wrapper {
  flex-direction: column;
  justify-content: center;
}

.race-card__content--wrapper hr {
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-dark-gray);
  width: 2rem;
  height: 0.1rem;
  margin: 1rem 0;
}

.race-card__name,
.race-card__date-time {
  font-weight: 600;
  font-style: italic;
}

.race-card__name {
  font-size: 1.2rem;
}

.race-card__date-time {
  color: var(--color-orange);
}

.race-card__about {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0;
}

/* END of => upcoming-races section */
