@media (min-width: 768px) {
  /* START of => desktop-floating-navbar */

  .floating-desktop-navbar {
    display: flex;
    background-color: transparent;
    position: absolute;
    top: 15%;
    width: 100%;
  }

  /* END of => desktop-floating-navbar */

  /* START of => hero-section about */

  .hero-section__title {
    margin-bottom: 1.5rem;
    width: 100%;
  }

  .hero-section.about {
    gap: 7rem;
  }

  .hero-section__intro {
    width: 100%;
  }

  .fa-arrow {
    color: var(--color-orange);
  }

  .floating.desktop-navbar__link {
    color: var(--color-dark-blue);
    transition: var(--transition-all-02s-eio);
  }

  .floating.desktop-navbar__link:hover {
    color: var(--color-orange);
  }

  /* END of => hero-section about */

  /* START of => about-logo section */

  .about-logo--wrapper .navbar-brand img {
    margin-bottom: 5rem;
  }

  /* END of => about-logo section */

  /* START of => past-races section */

  .past-races-images--wrapper {
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0 3rem 0;
  }

  #past-races .section__title {
    margin-top: 4rem;
  }

  /* END of => past-races section */

  /* START of => partners section */

  #partners.about-page {
    display: none;
  }

  /* END of => partners section */

  /* START of => footer section */

  .about.page-footer {
    background-color: var(--color-darker-gray);
    color: var(--color-white);
  }

  .footer-logo {
    background:
      linear-gradient(
        to left,
        transparent,
        transparent,
        rgba(255, 255, 255, 0.161),
        rgba(255, 255, 255, 0.349),
        var(--color-white),
        rgba(255, 255, 255, 0.349),
        rgba(255, 255, 255, 0.161),
        transparent,
        transparent
      );
    border-radius: 100%;
  }

  /* START of => footer section */
}
