@media (min-width: 768px) {
  .hero-section {
    height: 100vh;
  }

  .hero-section__title {
    font-size: 5rem;
    margin-bottom: 1.5rem;
  }

  .hero-section__intro {
    padding: 2rem;
    width: 80%;
  }

  .hero-section__date {
    font-size: 3rem;
  }
}
