.mobile-buy-tickets-btn {
  align-self: center;
  padding: 1.5rem 2.5rem;
  border: none;
  margin: 1.5rem 0 2rem 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  font-weight: 600;
}
