/* abstracts */

@import 'abstracts/variables.css';

/* base */

@import 'base/normalize.css';
@import 'base/base.css';

/* components */

/* UI */

/* UX */

/* layout */

@import 'layout/navbar.css';
@import 'layout/hero-section.css';
@import 'layout/partners-section.css';
@import 'layout/footer.css';

/* pages */
@import 'pages/about-page.css';

/* config/breakpoints */

@import 'config/breakpoints/navbar-desktop-breakpoints.css';
@import 'config/breakpoints/hero-section-desktop-breakpoints.css';
@import 'config/breakpoints/hero-section-title-size-breakpoints.css';
@import 'config/breakpoints/about-page-desktop-breakpoints.css';
@import 'config/breakpoints/about-page-partners-section-breakpoints.css';
@import 'config/breakpoints/footer-desktop-breakpoints.css';

/* vendors-extensions */

@import 'vendors-extensions/bootstrap-overrides.css';
